.terminal {
	margin-top: 24px;

	&__top {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__title {
		color: #fff;
		font-size: 18px;
		letter-spacing: 0px;
		line-height: 28px;
	}

	&__main {
		margin-top: 16px;
		width: 100%;
		min-height: 400px;
		background: #2b2b2b;
		border-radius: 2px;
	}
}