.manufactory {
	padding-top: 24px;

	&__top {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__title {
		color: #fff;
		font-size: 24px;
		letter-spacing: 0px;
		line-height: 32px;
	}

	&__main-container {
		min-height: fit-content;
		max-height: calc(100vh - 214px);
		margin-top: 16px;
		padding: 24px;
		border-radius: 2px;
	}
}