<div class="complex">
	<div class="complex__title">
		%Complex.name%
	</div>
	<div class="complex__list">
		<div class="complex__item infrastructure" #infraItem>
			<div class="infrastructure__cover-container">
				<div class="infrastructure__empty-cover">
					<i class="infrastructure__empty-icon"></i>
					<span class="infrastructure__empty-text">Infrastructure Cover</span>
				</div>
				<div class="infrastructure__cover"></div>
			</div>
			<!-- <div class="infrastructure__cover-container">
				<img class="cover-image">
			</div> -->
			<div class="infrastructure__info-container">
				<div class="infrastructure__info">
					<div class="infrastructure__name">infrastructure.name</div>
					<div class="infrastructure__address">infrastructure?.location?.address?.addressLine1
					</div>
				</div>
				<div class="infrastructure__bottom">
					<div class="infrastructure__status">
						<label class="infrastructure__label infrastructure__label--gray ml-0">infrastructure.type</label>
					</div>
				</div>
			</div>
		</div>
		<div class="complex__item infrastructure" #infraItem>
			<!-- <div class="infrastructure__cover-container">
				<div class="infrastructure__empty-cover">
					<i class="infrastructure__empty-icon"></i>
					<span class="infrastructure__empty-text">Infrastructure Cover</span>
				</div>
				<div class="infrastructure__cover"></div>
			</div> -->
			<div class="infrastructure__cover-container">
				<img src="https://www.viewbug.com/media/mediafiles/2016/01/11/62182159_large1300.jpg">
			</div>
			<div class="infrastructure__info-container">
				<div class="infrastructure__info">
					<div class="infrastructure__name">infrastructure.name</div>
					<div class="infrastructure__address">infrastructure?.location?.address?.addressLine1
					</div>
				</div>
				<div class="infrastructure__bottom">
					<div class="infrastructure__status">
						<label class="infrastructure__label infrastructure__label--gray ml-0">infrastructure.type</label>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
